{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
	
<div class ="row m-0">
	<div class ="col-sm-12 col-md-8 col-lg-6 offset-md-1 mt-1 mb-4 mx-auto">
		<div class="col-12 tile2a py-2">
		<a href="/" class="back"><i class="icon-left-big"></i></a>
		<span class="fontello_black mr-3"><i class="icon-user-add"></i></span>

		<h4 class="mb-3">Konto aktywowane!</h4>
		<p>Możesz się już <a href="/login"> zalogować </a> i zacząć korzystać z bezpłatnej aplikacji.</p>
		
		</div>
	</div>
</div>	
	
{% endblock %}