<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	
	<meta name="keywords" content="budżet, budget, finanse, oszczędzanie"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


	<link rel="stylesheet" href="/css/style.css" >
	<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/fontello.css" type="text/css"/>
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	
</head>
<body>

	<header>
		<div class="title py-1 px-2 mb-5">
			<h1 class="font-weight-bold text-uppercase py-2"> Budżet osobisty</h1>
			<h2 class="pb-2">Zacznij oszczędzać by spełniać swoje marzenia</h2>
			{% if current_user %}
			<nav class="navbar-expand-lg navbar navbar-dark mt-3 menu">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
					<span class="navbar-toggler-icon"></span>
				</button>
							
				<div class="collapse navbar-collapse" id="mainmenu">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item mx-lg-1">
							<a href="/" class="nav-link"><i class="icon-home"></i>Start</a>
						</li>
						<li class="nav-item mx-lg-1">
							<a href="/expense/new" class="nav-link"><i class="icon-credit-card"></i>Dodaj wydatek</a>
						</li>
						<li class="nav-item mx-lg-1">
							<a href="/income/new" class="nav-link"><i class="icon-chart-line"></i>Dodaj przychód</a>
						</li>
						<li class="nav-item mx-lg-1">
							<a href="/balance/index" class="nav-link"><i class="icon-chart-pie"></i>Bilans</a>
						</li>
						<li class="nav-item mx-lg-1">
							<a href="/settings" class="nav-link"><i class="icon-cogs"></i>Ustawienia</a>
						</li>
						<li class="nav-item mx-lg-1">
							<a href="/logout" class="nav-link"><i class="icon-logout"></i>Wyloguj</a>
						</li>
					</ul>    
				</div>
			</nav>
			{% endif %}
		</div>
	</header>
	
	<main>	
		<section>
			<div class ="container p-0">
				
				{% block body %}
				{% endblock %}
				
			</div>
			<div id="extra"></div>
			
		</section>
	</main>
			
	<footer>
		<div id="information">2020 &copy; Created by: Agnieszka Jankowska</div>
	</footer>
	
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>


    {% block footer %}
    {% endblock %}
	
</body>
</html>
